<% #provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>My Money Manager</h1>

  <h2>
    This is the home page for <li><%= link_to "My Money Manager",  root_path %></li>
  </h2>
  
  <ul class="center h1">
    <%= image_tag("homepageimage.jpg", :alt => "homepage image") %>
  </ul>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>